#article-block
  h2.title !{articles[articleLength - 1].title}
  .tags
    each tag in articles[0].tag
      a(href="/tag/#{tag}.html") !{tag}
  .article-content !{articles[articleLength - 1].content}
