footer.mdl-mini-footer
  .mdl-mini-footer__right-section
    .mdl-logo 
      |#{title}
    ul.mdl-mini-footer__link-list
      li
        a(href="https://github.com/LoveCallProject") 加入我们
      li
        a(href="http://home.lovecall.moe/archives/2015/12/feedback.html") 建议反馈
      li(style="min-width: 205px;")
        | Powered by 
        a(href="https://github.com/disoul/hanayo" style="color: white;") Hanayo!
    .mdl-logo 友情链接
    ul.mdl-mini-footer__link-list
      li
        a(href="http://lovelive.ws") μ's时光蛋

