footer.mdl-mini-footer
  .mdl-mini-footer__right-section
    .mdl-logo 
      |#{title}
    ul.mdl-mini-footer__link-list
      li
        a(href="https://github.com/LoveCallProject") 加入我们
        a(href="#") 建议反馈
